
* {
    box-sizing: border-box;
    font-size: 100%;
    margin: 0;
    padding: 0;
    Position: relative;
    
}


body {
    background-color: lightgray;
}



a {
    margin-right: 10%;
    color: teal
}

.nav {
    
    background-color: whitesmoke;

} 



.indexsection {
    margin-left: 0;
}

section {
    box-sizing: border-box;
    margin-top: 10px;
    margin-right: 25%;
    margin-bottom: 200px;
    background-color: teal;
    color: white;
    text-align: left;
    
}


.Aboutme {
    color: white;
    size: 100px;
    font-weight: bolder;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: left;

}

.media-body {
    margin-bottom: 100px;
    text-align: left;
}

.media {
    margin-left: 25px;
    margin-right: 25px;
}

hr {
    position: relative;  
    border: none; 
    height: 2px; 
    background: darkgrey; 
    margin-right: 25px;
    margin-left: 13px;
    opacity: 25%;
}

.card {
    margin: inherit;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: 100%;
}

.card-body {
    color: white;
    background-color: teal;
    size: 10px;
    width: 100%;
    

}

.portfolio {
    text-align: left;
    box-sizing: border-box;
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 40px;
    margin-bottom: 5px;
}

.contact {
    margin-top: 5%;
    margin-left: 2%;
    font-size: 20px;
    font-weight: bold;
}

.contacthr {
    margin-right: 13%;
}

.btn {
    background-color: whitesmoke;
    color: black;
    border-color: teal;
    margin-left: 2%;
    margin-bottom: 5%;
}

.form-control {
    width: 85%;
    margin-left: 2%;
}

label {
    margin-left: 2%;
}
